
.w-55{
    width: 500px;
}
.hero {
  background-image: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0)),
url('../assets/herobg.png');  
  width: 100%;                   
  height: 100vh;                 
  display: flex;                 
  flex-direction: column;       
  justify-content:center;      
  align-items: start;           
  color: black;                  
  text-align: start;    
  padding-left: 55px;     
 }

.hero-img{
    width: auto;
    height: 500px;

}

.hero-btn{
    background-color: rgb(237, 82, 82);
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 25px;
    color: white;
}
.hero-btn:hover{  transform: scale(1.03);}


@media (min-width: 360px) and (max-width: 800px) {

.hero{
   background-size: 150%;
   background-image:linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0)), url('../assets/port2.png');
}

.hero.zoom-out {
  transform: scale(0.9);
}

.w-55{
  width: auto;
  color:white;
}

}