
header {
  background-color: rgb(232, 232, 232);
}

nav {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}

.m-0 {
  font-weight: bold;
  font-size: 1.5rem;
}


.loader {
  display: block;
  height: 4px;
  width: 0;
  background-color: gray;
  transition: width 0.3s ease;
  position: absolute;
  bottom: 0;
  left: 0;
}

.list-inline-item {
  position: relative;
  cursor: pointer;
}

.nav-link{
  color: black;
}

.list-inline-item:hover .loader {
  width: 100%;
}


.navbar-links {
  display: flex;
 
}

.menu-icon {
  font-size: 1.8rem;
  cursor: pointer;
  display: none;
}

.loader {
  display: block;
  height: 3px;
  width: 0;
  background-color: gray;
  transition: width 0.3s ease;
  position: relative;
  bottom: -2px;
}

.nav-link:hover .loader {
  width: 100%;
}