.products {
  text-align: center;
  padding: 60px 20px;
  background-color: #fafafa;
}

.products h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #222;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.product-card {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: white;
}

.product-card:hover {
 
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-card h4 {
  font-size: 16px;
  height: 60px;
  overflow: hidden;
  font-family: sans-serif;
}

.product-card p {
  font-weight: bold;
  color: #ff4d6d;
}

.product-card button {
  margin-top: 10px;
  background-color: #ff4d6d;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #e63e5b;
}

@media (min-width: 360px) and (max-width: 800px) {

  .product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  
}
.products{
  height: 240vh;
}

}